<mat-card class="card">
    <div class="title">
        <mat-card-header>
            <mat-card-title><b>{{movie.name}}</b></mat-card-title>
        </mat-card-header>
    </div>

    <mat-divider></mat-divider>

    <div></div>

    <mat-grid-list cols="4" rowHeight="500px">
        <mat-grid-tile colspan="1">
            <img mat-card-image alt="movies" src="{{movie.poster}}" />
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
            <mat-card-content>
                <div class="content">
                    <p>Year: {{movie.year}}</p>
                </div>
                <div class="content">
                    <p>Runtime: {{movie.runtime}}</p>
                </div>
                <div class="content">
                    <p style="padding-right: 0.5em;">Genre:</p>
                    <mat-chip-list>
                        <mat-chip *ngFor="let genres of movie.genre" style="margin-right: 0.5em;">{{genres}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="content">
                    <p>Director: {{movie.director}}</p>
                </div>
                <div class="content">
                    <p>Plot: {{movie.plot}}</p>
                </div> 
                <div class="content">
                   <p>Note: {{movie.note}}</p> 
                </div>
                <div class="content">
                    <p>Rating: {{movie.rating}}</p> 
                 </div>
            </mat-card-content>
        </mat-grid-tile>
        <button style="float: right;" color="accent" mat-raised-button type="button" (click)="addMovie()" *ngIf="addButtonCondition()">
            <mat-icon>add_circle_outline</mat-icon> Add to library
        </button>
        <button style="float: right;" color="accent" mat-raised-button type="button" (click)="removeMovie()" *ngIf="removeButtonCondition()">
            <mat-icon>delete_outline</mat-icon> Remove from library
        </button>
    </mat-grid-list>
</mat-card>