
.card {
    background: #fafafa;
    justify-content: center;
    min-width: 70%;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block !important
  }

.content {
    display: flex;
    justify-content: left;
    padding-left: 1em;
    margin-top: auto;
}

.title {
    max-width: 90em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

div {
    margin-top: 1em;
}

mat-card-header {
    padding: 50xp;
}