.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  mat-form-field {
    width: 400px;
    font-size: 24px;
    
    }
    .mat-raised-button.mat-theme{
      background-color: #1976d2;
      color: #FFFF
    }