<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
  
      <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
        <title>Movie Icon</title>
        <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
          <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
            fill="#dd0031" />
          <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
            
          </g>
        </g>
      </svg>
      <span>Welcome to (service name)</span>