
<app-view-film></app-view-film>

<mat-card style="display: inline-block !important; background: #fafafa;">      
    <mat-card-title>    
        Add your own thoughts!    
    </mat-card-title>  
    <mat-card-content>    
        <form [formGroup]="checkoutForm" (ngSubmit)="addNote()">    
            <table>      
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <textarea matInput placeholder="Notes"  formControlName="note" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>    
                        </mat-form-field>    
                    </td>    
                </tr>        
                <tr>    
                    <td>    
                        <span>Rating</span><br><br> 
                        
                        <mat-radio-group formControlName="rating">    
                            <mat-radio-button  *ngFor="let rating of ratings" id={{rating}} value={{rating}} style="padding: 1em;"> {{rating}} </mat-radio-button>
                        </mat-radio-group>    
                    </td>        
                </tr>    
   
                <tr>    
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center">    
                        <button mat-raised-button color="accent" type="submit">Save</button>     
                    </td>    
                </tr>    
            </table>    
        </form>    
    </mat-card-content>    
</mat-card>   